@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*@import "compass/reset";*/
html, body, .container, .row, .main {
  min-height: 100%;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: '微软雅黑','Microsoft Yahei', sans-serif;
  font-size: 15px;
  line-height: 23px;
  background: #f3f3f3;
}

h1, h2 {
  letter-spacing: 3px;
  font-size: 31.5px;
}

h2.site-title {
  font-family: 'Open Sans Condensed','Microsoft Yahei','微软雅黑';
  letter-spacing: 10px;
  text-align: center;
}
h2.site-title a, h2.site-title a:hover, h2.site-title a:active, h2.site-title a:visited {
  color: white;
}

h3 {
  font-size: 20px;
}

a, a:active, a:visited {
  color: #40aa52;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a {
  border-bottom: 1px solid #ccc;
}

h1 a, h2 a {
  text-decoration: none;
  border-bottom: none;
}

.container {
  width: 100%;
  margin: 0px;
}

#index .post {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

#index .post:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.paging {
  padding: 20px 0px;
}

.highlight pre {
  margin: 10px 0px;
}

#bottom {
  text-align: center;
  border-top: 4px solid;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
#bottom .well {
  margin-bottom: 0px;
}

#bottom, .main {
  width: inherit;
  margin-left: 324px;
}

.row {
  position: relative;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 40px;
  background: #f3f3f3;
}

.sidebar {
  top: 0px;
  bottom: 0px;
  border-right: 4px solid #40aa52;
  background: #333;
  color: white;
}
.sidebar li {
  list-style: none;
}
.sidebar p {
  margin: 10px 0px 20px 25px;
}
.sidebar p.sub-title {
  margin-left: 50px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #899;
  text-shadow: 2px 1px 2px #000;
  word-wrap: break-word;
}

.well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#links {
  /*margin: 0px 0px 0px -20px;*/
}
#links li {
  display: inline;
  padding: 0px 10px;
}

#navigation li {
  margin: 10px 0px;
}
#navigation a {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 5px 10px;
  border: 3px solid #aaa;
  color: #aaa;
  font-weight: bold;
  font-size: 110%;
  display: inline-block;
  width: 80px;
  text-align: center;
  margin-left: 20px;
}
#navigation a:hover {
  border: 3px solid white;
  color: white;
}

#navigation .icons a {
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  padding: 5px 10px;
  border: none
}

@media (max-width: 767px) {
  .sidebar.affix {
    position: relative;
    text-align: center;
    border-right: none;
    width: 100%;
    margin: auto;
  }
  .sidebar.affix .well {
    padding: 0px;
    margin-left: 20px;
  }
  .sidebar.affix #navigation, .sidebar.affix #links {
    margin: 0px 0px 0px -20px;
  }
  .sidebar.affix #navigation li, .sidebar.affix #links li {
    display: inline;
    padding: 0px;
  }
  .sidebar.affix #navigation {
    margin: 20px auto;
  }
  .sidebar.affix #navigation li.archives {
    display: none;
  }
  .sidebar.affix p {
    margin-left: 0px;
  }

  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main {
    border: none;
    padding-right: 0px;
    margin-left: 0px;
    border-top: solid 4px;
  }
}

.post,.meta hr {
    margin-bottom: 8px;
    border-top: 1px solid #ccc;
}

a.icon {
  text-decoration: none;
  border: 0px;
}

.icon-rss {
  background-image: url(/images/rss.png);
  background-position: 0px 0px;
  width:16px;
  height:16px;
}
